[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
django = "*"
pillow = "*"
django-seed = "*"
psycopg2 = "*"
selenium = "*"
webdriver-manager = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
beautifulsoup4 = "*"
django-dotenv = "*"
lxml = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
